# =============== #
# Unity generated #
# =============== #
Proto2D/Temp/
Proto2D/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Proto2D/ExportedObj/
Proto2D/obj/
Proto2D/*.svd
Proto2D/*.userprefs
Proto2D//*.csproj
Proto2D/*.pidb
Proto2D/*.suo
Proto2D/**/*.sln
Proto2D/*.user
Proto2D/*.unityproj
Proto2D/*.booproj
 
# ============ #
# OS generated #
# ============ #
Proto2D/.DS_Store
Proto2D/.DS_Store?
Proto2D/._*
Proto2D/.Spotlight-V100
Proto2D/.Trashes
Proto2D/ehthumbs.db
Proto2D/Thumbs.db
